<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.axians.requestexercisepermissionsplugin"
    version="1.1.11-prerelease"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Cordova Exercises Health Plugin</name>
    <description>Plugin to extract exercise data from android Health Connect SDK</description>
    <author>Axians</author>

    <engines>
        <engine name="cordova" version=">=1.7.0" />
        <engine name="cordova-android" version=">=1.8.0" />
        <engine name="cordova-ios" version=">=1.8.0" />
    </engines>

    <js-module src="www/RequestExercisePermissionsPlugin.js" name="RequestExercisePermissionsPlugin">
        <clobbers target="cordova.plugins.RequestExercisePermissionsPlugin" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/RequestExercisePermissionsPlugin.kt" target-dir="src/main/kotlin/com/axians/requestexercisepermissionsplugin"/>
        <source-file src="src/android/HealthActivityPermissions.kt" target-dir="src/main/kotlin/com/axians/requestexercisepermissionsplugin"/>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RequestExercisePermissionsPlugin">
                <param name="android-package" value="com.axians.requestexercisepermissionsplugin.RequestExercisePermissionsPlugin"/>
                <!-- <param name="onload" value="true" /> -->
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.3.50" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>

      <!-- <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="AndroidXEnabled" value="true"/> -->
        
        <config-file target="AndroidManifest.xml" parent="/manifest" xmlns:android="http://schemas.android.com/apk/res/android">
            <!-- <uses-permission android:name="android.permission.health.WRITE_HEART_RATE"/> -->
            <!-- <uses-permission android:name="android.permission.health.WRITE_STEPS"/> -->
            <!-- <uses-permission android:name="android.permission.health.WRITE_EXERCISE"/> -->
            <!-- <uses-permission android:name="android.permission.health.WRITE_EXERCISEROUTE"/> -->
            <uses-permission android:name="android.permission.health.READ_HEART_RATE"/>
            <uses-permission android:name="android.permission.health.READ_STEPS"/>
            <uses-permission android:name="android.permission.health.READ_EXERCISE"/>
            <uses-permission android:name="android.permission.health.READ_EXERCISEROUTE"/>
            <uses-permission android:name="android.permission.health.READ_DISTANCE"/>
            <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED"/>
            <uses-permission android:name="android.permission.health.READ_TOTAL_CALORIES_BURNED" />

        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
        <!-- For supported versions through Android 13, create an activity to show the rationale
                of Health Connect permissions once users click the privacy policy link. -->
          <activity
              android:name="com.axians.requestexercisepermissionsplugin.HealthActivityPermissions"
              android:exported="true">
              <intent-filter>
                  <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
              </intent-filter>
          </activity>

          <!-- For versions starting Android 14, create an activity alias to show the rationale
                of Health Connect permissions once users click the privacy policy link. -->
            
          <activity-alias
              android:name="ViewPermissionUsageActivity"
              android:exported="true"
              android:targetActivity="com.axians.requestexercisepermissionsplugin.HealthActivityPermissions"
              android:permission="android.permission.START_VIEW_PERMISSION_USAGE">
              <intent-filter>
                  <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                  <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
              </intent-filter>
          </activity-alias>
        </config-file>
        <framework src="android/build.gradle" custom="true" type="gradleReference"/>
    </platform>

    <!-- iOS Platform Configuration -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="RequestExercisePermissionsPlugin">
                <param name="ios-package" value="RequestExercisePermissionsPlugin"/>
            </feature>
			<!-- <preference name="deployment-target" value="13" /> -->
		</config-file>

        <config-file target="*-Info.plist" parent="NSHealthShareUsageDescription">
            <string>This app needs access to your workout data to display your exercise history.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSHealthUpdateUsageDescription">
            <string>This app needs access to update your workout data.</string>
        </config-file>≈

        <framework src="HealthKit.framework" />

        <source-file src="src/ios/RequestExercisePermissionsPlugin.m" />
        <header-file src="src/ios/RequestExercisePermissionsPlugin.h" />
        <!-- Add Bridging Header if needed later
        <header-file src="src/ios/Bridging-Header.h" type="BridgingHeader" />
        -->

        <!-- <hook type="after_prepare" src="scripts/ios/add_healthkit_entitlement.js" /> -->


    <!-- Entitlements -->
    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit">
        <true/>
      </config-file>
  
      <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit">
        <true/>
      </config-file>
      
    </platform>
</plugin>
